@import "tailwindcss";


@theme inline {
  /* White */
  --color-main: #fffffe;
  /* Navy */
  --color-stroke: #094067; 
  /* Cyan */
  --color-highlight: #3da9fc; 
  /* Gray */
  --color-secondary: #90b4ce; 
  /* Orange */
  --color-tertiary: #ef4565;
  --font-main: var(--font-manrope); 
}



body {
  background: var(--colour-main);
  /* color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}
